<table class=" col-12  mt-2 table results">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Attempt</th>
            <th scope="col">Guesses</th>
            <th scope="col">Cows</th>
            <th scope="col">Bulls</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>